#trainingGoals-container {
	margin-left: 1vh;
	margin-right: 1.5vh;
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
}

#trainingGoals-container form {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#trainingGoals-container input[type='radio'] {
	display: none;
}

#trainingGoals-container label {
	display: block;
	padding: 12px 16px;
	margin-bottom: 8px;
	background-color: #f4f4f4;
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.2s, border 0.2s;
	border: 2px solid transparent;
}

#trainingGoals-container input[type='radio']:checked + label {
	background-color: #bce40a28;
	border-color: #bbe40a;
}

#trainingGoals-container button {
	margin-top: 0;
	margin-bottom: 50px;
}
