.home-header img {
	height: 55px;
}

.home-content {
	margin-left: 2vh;
	margin-right: 2vh;
	margin-top: 5vh;
}

.home-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px 8px;
	box-shadow: 0 3px 4px rgba(39, 45, 41, 0.1);
}
.recomendations-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recomendation {
	border-radius: 18px;
	width: 90%;
	height: 70px;
	padding: 14px;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
	background-color: transparent;
	transition: outline 0.3s ease;
	margin: 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 15px;
}

.recomendations-container {
	margin-top: 50px;
}

.recomendation p {
	width: 60%;
}
