#navMenu-container {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin: 0;
	background-color: hsl(0, 0%, 100%);
	padding: 0 0 2vh 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

.secondary-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12.5px;
	padding: 0.3vh;
	stroke: #272d29;
}

.secondary-icon.active {
	stroke: #7d9807;
	fill: #7d9807;
}

.secondary-icon.active p {
	color: #7d9807;
}

.primary-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	position: absolute;
	top: -25%;
	left: 50%;
	transform: translateX(-50%);
	stroke: #ffff;
}

.primary-icon.active p {
	color: #7d9807;
}

.only-svg {
	background-color: #272d29;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding-top: 3px;
	padding-bottom: 3px;
	border: solid 3px #ffff;
	box-shadow: 2px -3px 5px rgba(0, 0, 0, 0.1);
}

.only-svg.active {
	background-color: #7d9807;
}

.only-svg svg {
	padding-left: 6px;
}
